body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: linear-gradient(
        to right,
        #57BC90 0%,
        #77C9D4 100%
      );
    font-family: 'Abril Fatface', cursive;
    font-family: 'Arvo', serif;
  }
