.input {
    position: absolute;
    height: 100%;
    width: 15%;
    border: 1px solid #212121;
    border-radius: 7px;
    font-size: 16px;
    padding: 0px 10px;
    outline: none;
    background: none;
    z-index: 1;
    white-space: nowrap; /* Prevents the text from wrapping to the next line */
    overflow-x: auto;    /* Enables horizontal scrolling */
  }

  ::placeholder {
    color: transparent;
  }

  .label {
      position: absolute;
      top: 6px;
      left: 3px;
      padding: 0 5px;
      color: #212121;
      font-size: 16px;
      transition: 0.5s;
      z-index: 0;
  }
  .input:focus+.label {
      top: -17px;
      left: 3px;
      z-index: 10;
      color: black;
  }

  .input:focus {
      border: 2px solid #12130F;
  }

  .input:not(:placeholder-shown)+.label {
      top: -17px;
      left: 3px;
      z-index: 10;
  }

.search{
    width: 90%;
}


.add{
    width: 100%;
    box-sizing: border-box;
}

.inputSearchContainer {
    position: relative;
    align-self: flex-end;
    margin-left: auto;
    height: 30px;
    width: 25%;
    margin-bottom: 10px;
    margin-bottom: 20px;
}